{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>

    {% include 'header.html' %}

    <h2>Login</h2>

    <form method = "post" action="{% url 'login_user' %}">
{% csrf_token %}

        <label>Username:</label><br>
        <input type="text" name="username" required><br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit">Login</button>
    </form>

    {% if message %}
        <p style="color:red;">{{ message }}</p>
    {% endif %}

    <p>
        Don't have account?
        <a href="{% url 'register_user' %}">Register here</a>
    </p>
        
    {% include 'footer.html' %}

</body>
</html>